/*
primary-color:#862C55 (purple)
secondary-color: A04435(brown)
third color: #333333; (charcoal grey)
*/

body, html{
    margin: 0;
    font-family: sans-serif;
    font-weight: 200;
}

h1, h2{
    margin: 0;
}
ul{
    list-style-type: none;
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}

.container{
    margin: 0px 25px;
}

header{
    height: 70px;
    padding-top: 30px;
    background-color: #03274D;
    color: #fff;
}

.logo{
    width: 300px;
    float: left;
}

.logo h1{
    text-align: center
}

.menu{
    width: 400px;
    float: right;
}
.menu li{
    display: inline-block;
    margin-right: 5px;
}
#banner{
    background: url("../img/stars.jpg") center;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
    color: #333;
    text-align: center;
}
#banner h1{
    padding: 40px 0;
    font-size: 3em;
}
#banner i{
    color: red;
}


.border{
    border-bottom: 2px solid #333;
    margin: 20px 0;
}

#skills{
    height: 400px;
    width: 100%;
    padding-top: 50px;
    background-color: #03274D;
}

.skills-container{
    height: 100%;
    width: 800px;
    margin: 0 auto;
}

.skill{
    height: 75%;
    width: 215px;
    margin: 0 10px 0 5px;
    padding: 10px;
    float: left;
    background-color: #EE641E;
    color: #eee;
    border-radius: 5px;
}
.skill h1{
    text-align: center;
}

.skill p{
    text-align: justify;
}


#about{
    height: 300px;
    width: 100%;
    padding: 45px 0 75px 0;
    background-color: #149E71;
}
.pic{
    width: 25%;
    height: 100%;
    float: left;
}
.pic img{
    width: 100%;
    height: auto;
    margin-top: 50px;
    border-radius: 50%;
}

.bio{
    height: 100%;
    width: 60%;
    float: left;
    margin: 0 50px;
    border: 1px dashed #333;
    padding: 15px 20px;
    border-radius: 5px;
}
#about h1{
    text-align: center;
    margin: 0;
}
#about p{
    text-align: justify;
}


#contact{
    height: 400px;
    padding: 40px 15px;
    background: url("../img/idea-pic.jpeg") center fixed;
    color: #fff;
}

.form-box{
    height: 250px;
    width: 450px;
    /*border: 2px solid #333;*/
    padding: 30px;
    margin: 0 auto;
}
form{
    height: 100%;
    width: 100%;
}
#contact label{
    width: 50px;
    height: auto;
}

#contact input{
    margin: 5px 0;
    width: 90%;
    height: 30px;
}

#contact textarea{
    margin: 5px 0;
    width: 90%;
    height: 150px;
}

#contact button{
    height: 40px;
    width: 150px;
    border-radius: 0px;
}

#contact h1{
    text-align: center;
    margin: 0;
}

footer{
    height: 100px;
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 40px 20px;
}
.copyright{
    text-align: center;
}
footer p{
    margin: 0;
}
.soc-icons{
    width: 400px;
    margin: 20px auto;

}
footer .icon{
    display: inline-block;
    margin-right: 5px;
    background-color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.icon a{
    color: #333;
}
.icon i{
    font-size: 2em;
    padding-top: 9px;
}

.footer .fa-facebook-official{
    color: #fff;
    font-size: 50px;
}

